@font-face {
    font-family: Tableu-book;
    src:  url(statics/Tableau\ Book\ Regular.ttf);
  }
body{
    width: 100%;
    font-family: Tableu-book


}
.hidden{
    display: none;
}

#btn-prom{
    width: 100%;
}
#data_table_wrapper{
    width: 98%;
    height: 98%;
    display: flex;
}
img{
    color: red;
}
#table{
    color: #666666;
}
#no_data_message{
    display: flex;
    width: 100%;
    justify-content: center;
}