.kpi-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#subtitle-kpi{
    font-size: 1.2rem;    
}
#num{
    font-size: 1.5rem;
    font-weight: 500;
}