@font-face {
    font-family: Tableu-book;
    src:  url(statics/Tableau\ Book\ Regular.ttf);;
  }
body{
    display: flex;
    align-items: center; 
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    font-family: Tableu-book
}

.hidden{
    display: none;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#btn-prom{
    width: 100%;
}
#name-input{
    width: 100%;
}
h5{
    font-weight: 600;
}