
body{
    display: flex;
    align-items: center; 
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;

}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#btn-prom{
    width: 100%;
}
#name-input{
    width: 100%;
}