@font-face {
    font-family: Tableu-book;
    src:  url(statics/Tableau\ Book\ Regular.ttf);;
  }
body{
    display: flex;
    align-items: center; 
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    font-family: Tableu-book
}

.hidden{
    display: none !important;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
#btn-prom{
    width: 100%;
}
#name-input{
    width: 100%;
}
h5{
    font-weight: 600;
}
@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
  }
  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #838280;
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 10px;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
    margin-left: 20px;
  }
  #loading{
    display: flex;
    justify-content: center;
  }